.btn{
  background-color: grey;
}
button{
  margin-left: -6.3px;
  background-color: black;
  border:none;
  cursor: pointer;
}

p span img {
  margin-bottom: -10px;
  margin-right: 6px;
}

p img {
  margin-bottom: -6px;
  margin-right: 3px;
}

.text {
  margin-bottom: -8px;
  margin-left: -1px;
  margin-right: 5px;
}

.nom {
  font-size: 2.5em;
  margin-top: -5px;
}

.panel {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 2em;
  margin-bottom: 20px;
}

.age {
  font-size: 30px;
}
