.btn{
  background-color: grey;
}
button{
  margin-left: -6.3px;
  background-color: black;
  border:none;
  cursor: pointer;
}

.panel{
  background: black;
  color: white;
  border-radius: 16px;
  padding: 2em;
  margin-bottom: 20px;
}
